<div class="card" style="">
    <div class="card-header">
        <h3 class="card-title">Recent Activity</h3>
    </div>
    <div class="card-header d-flex align-items-center">
        <p class="col-auto m-0 me-3">Filter activity by</p>
        <select class="form-select" my-href="/getActivityData?page=1">
            <option value="">Show all</option>
            {{#each data.activity.entityTypes}}
            <option value="{{this}}" {{#if (eq this ../data.activity.entityType)}}selected{{/if}}>{{capitalizeFirstLetter this}}</option>
            {{/each}}
        </select>
    </div>

    {{#with data.activity as |log|}}
    <div class="card-header d-flex align-items-center">
        <p class="m-0 text-secondary">Page <span>{{log.currentPage}}</span> of <span>{{log.totalPages}}</span></p>
        <ul class="pagination m-0 ms-auto">
            <li class="page-item {{#if (eq log.hasPrevPage false)}}disabled{{/if}}">
                <a class="page-link" tabindex="-1" aria-disabled="true"  my-href="/getActivityData?entityType={{log.entityType}}&page={{dec log.currentPage}}" onclick="getActivityData(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg>
                </a>
            </li>
            {{#each log.pagesArray}}
            <li class="page-item {{#if (eq log.currentPage this)}}active{{/if}}">
                <a class="page-link"  my-href="/getActivityData?entityType={{log.entityType}}&page={{this}}" onclick="getActivityData(this)">{{this}}</a>
            </li>
            {{/each}}
            <li class="page-item {{#if (eq log.hasNextPage false)}}disabled{{/if}}">
                <a class="page-link" tabindex="-1" aria-disabled="true" my-href="/getActivityData?entityType={{log.entityType}}&page={{inc log.currentPage}}" onclick="getActivityData(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
                </a>
            </li>
        </ul>
    </div>
    {{/with}}

    <div class="d-flex justify-content-center mb-auto">
        <div class="w-100 list-group list-group-flush list-group-hoverable notifications">
           {{> dashboardActivityTable}}
        </div>
    </div>

</div>