<div class="modal modal-blur fade" id="modal-{{data.file._id}}" tabindex="-1" style="display: none; padding-left: 0px;"
    aria-modal="true" role="dialog" projSlug="new-entry" file-id="{{data.file._id}}">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header px-4">
                <h5 class="modal-title">Manage Document</h5>
                <div class="ms-auto d-flex align-items-center">
                    {{#if (findInArray data.role 'deleteFiles')}}
                    <button class="btn btn-outline-danger me-2" onclick="deleteFile(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-trash-x">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 7h16"></path>
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                            <path d="M10 12l4 4m0 -4l-4 4"></path>
                        </svg>
                        Delete this Document</button>
                    {{/if}}
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-6 col-12">
                        <div class="mb-3">
                            <label class="form-label" for="fileName">Document Name</label>
                            <input type="text" id="fileName" name="fileName" class="form-control"
                                value="{{data.file.name}}" placeholder="Enter file name" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Document Category</label>
                            <div class="form-selectgroup form-selectgroup-boxes p-1">
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" name="fileCategory" value="general"
                                        class="form-selectgroup-input" {{#if (eq data.file.category 'general'
                                        )}}checked{{/if}}>
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            General
                                        </div>
                                    </div>
                                </label>
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" name="fileCategory" value="health"
                                        class="form-selectgroup-input" {{#if (eq data.file.category 'health'
                                        )}}checked{{/if}}>
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            Health Report
                                        </div>
                                    </div>
                                </label>
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" name="fileCategory" value="invoice"
                                        class="form-selectgroup-input" {{#if (eq data.file.category 'invoice'
                                        )}}checked{{/if}}>
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            Invoice
                                        </div>
                                    </div>
                                </label>
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" name="fileCategory" value="paymentProof"
                                        class="form-selectgroup-input" {{#if (eq data.file.category 'paymentProof'
                                        )}}checked{{/if}}>
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            Payment Proof
                                        </div>
                                    </div>
                                </label>
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" name="fileCategory" value="schoolReport"
                                        class="form-selectgroup-input" {{#if (eq data.file.category 'schoolReport'
                                        )}}checked{{/if}}>
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            School Report
                                        </div>
                                    </div>
                                </label>
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" name="fileCategory" value="rent" class="form-selectgroup-input"
                                        {{#if (eq data.file.category 'rent' )}}checked{{/if}}>
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            Rent Report
                                        </div>
                                    </div>
                                </label>
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" name="fileCategory" value="monthlyReport"
                                        class="form-selectgroup-input" {{#if (eq data.file.category 'monthlyReport'
                                        )}}checked{{/if}}>
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            Monthly Report
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        {{#if (findInArray data.role 'changeFilesAccess')}}
                        <div class="mb-3">
                            <label class="form-label">Document Access</label>
                            <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column projects">
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="checkbox" name="fileAccess" value="editors"
                                        class="form-selectgroup-input" {{#if (findInArray data.file.access 'editors'
                                        )}}checked{{/if}}>
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div class="form-selectgroup-label-content d-flex align-items-center">
                                            <div class="font-weight-medium">Visible to Project Editors</div>
                                        </div>
                                    </div>
                                </label>
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="checkbox" name="fileAccess" value="customers"
                                        class="form-selectgroup-input" {{#if (findInArray data.file.access 'customers'
                                        )}}checked{{/if}}>
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div class="form-selectgroup-label-content d-flex align-items-center">
                                            <div class="font-weight-medium">Visible to Subscribed Customers</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        {{/if}}

                        <div class="">
                            <button class="btn btn-primary" onclick="updateFile(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-upload">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                                    <path d="M7 9l5 -5l5 5" />
                                    <path d="M12 4l0 12" />
                                </svg>
                                Save Changes
                            </button>
                            {{#if (findInArray data.role 'deleteFiles')}}
                            <button class="btn btn-outline-danger" onclick="deleteFile(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-trash-x">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M4 7h16"></path>
                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                    <path d="M10 12l4 4m0 -4l-4 4"></path>
                                </svg>
                                Delete this Document</button>
                            {{/if}}
                        </div>
                        {{#if (findInArray data.role 'changeFilesAccess')}}
                        <div class="row align-items-center">
                            <div class="col">
                                <hr>
                            </div>
                            <div class="col-auto fw-bold">
                                <span>Document Links</span>
                            </div>
                            <div class="col">
                                <hr>
                            </div>
                        </div>

                        <div class="mb-3">
                            {{#each data.file.links}}
                            <a class="card mb-2 text-blue fw-bold" href="{{this.entityUrl}}">
                                <div class="card-body">{{this.entityName}}</div>
                            </a>
                            {{/each}}
                        </div>
                        {{/if}}

                    </div>

                    <div class="col-xl-6 col-12" id="file-container">
                        <iframe width="100%" height="755px" style="border: none;"
                            src="/file/{{data.file._id}}"></iframe>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary close-modal" data-bs-dismiss="modal"> Close </a>
            </div>
        </div>
    </div>
</div>

<button href="#" class="btn btn-primary d-none" id="button-{{data.file._id}}" data-bs-toggle="modal"
    data-bs-target="#modal-{{data.file._id}}"></button>