<div class="modal modal-blur fade" id="modal-{{data.file._id}}" tabindex="-1" style="display: none; padding-left: 0px;"
    aria-modal="true" role="dialog" projSlug="new-entry" order-id="{{data.order._id}}">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Manage Document</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-6 col-12">
                        <div class="mb-3">
                            <label class="form-label" for="fileName">Document Name</label>
                            <input type="text" id="fileName" name="fileName" class="form-control"
                                value="{{data.file.name}}" placeholder="Enter file name" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Document Category</label>
                            <div class="form-selectgroup form-selectgroup-boxes p-1">
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" name="fileCategory" value="General"
                                        class="form-selectgroup-input">
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            General
                                        </div>
                                    </div>
                                </label>
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" name="fileCategory" value="Health"
                                        class="form-selectgroup-input">
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            Health
                                        </div>
                                    </div>
                                </label>
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" name="fileCategory" value="Invoice"
                                        class="form-selectgroup-input">
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            Invoice
                                        </div>
                                    </div>
                                </label>
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" name="fileCategory" value="Payment Proof"
                                        class="form-selectgroup-input">
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            Payment Proof
                                        </div>
                                    </div>
                                </label>
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" name="fileCategory" value="School Report"
                                        class="form-selectgroup-input">
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            School Report
                                        </div>
                                    </div>
                                </label>
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" name="fileCategory" value="Rent Report"
                                        class="form-selectgroup-input">
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            Rent Report
                                        </div>
                                    </div>
                                </label>
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" name="fileCategory" value="Monthly Report"
                                        class="form-selectgroup-input">
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            Monthly Report
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Document Links</label>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Entity Type</th>
                                            <th>Entity ID</th>
                                            <th>Entity URL</th>
                                        </tr>
                                    </thead>
                                    <tbody id="fileLinks">
                                        {{#each data.file.links}}
                                        <tr>
                                            <td>{{inc @index}}</td>
                                            <td>{{this.entityType}}</td>
                                            <td>{{this.entityId}}</td>
                                            <td><a href="{{this.entityUrl}}">{{this.entityUrl}}</a></td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-12" id="file-container">
                        <iframe width="100%" height="755px" style="border: none;"
                            src="/file/{{data.file._id}}"></iframe>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal"> Cancel </a>
                <a href="#" class="btn btn-primary ms-auto" file-id="{{data.file._id}}" onclick="updateFile(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-upload">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                        <path d="M7 9l5 -5l5 5" />
                        <path d="M12 4l0 12" />
                    </svg>
                    Update File
                </a>
            </div>
        </div>
    </div>
</div>

<button href="#" class="btn btn-primary d-none" id="button-{{data.file._id}}" data-bs-toggle="modal"
    data-bs-target="#modal-{{data.file._id}}"></button>