<div class="modal modal-blur fade" id="modal-{{data.user._id}}" tabindex="-1" style="display: none; padding-left: 0px;"
    aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit {{data.user.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Full Name</label>
                    <input type="text" class="form-control name" name="name" placeholder="Full Name"
                        value="{{data.user.name}}" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control email" name="email" placeholder="email@gmail.com"
                        value="{{data.user.email}}" disabled />
                    <button class="btn btn-primary mt-2" onclick="sendEmailInvite(this)"
                        user-id="{{data.user._id}}">Send email invite again</button>
                </div>
                <div class="mb-3">
                    <label class="form-label">Assign Projects</label>
                    <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column projects">
                        {{#each data.projects as |project|}}
                        <label class="form-selectgroup-item flex-fill">
                            <input type="checkbox" name="projects" value="{{project.slug}}"
                                class="form-selectgroup-input" {{#if (findInArray ../data.user.projects
                                project.slug)}}checked="" {{/if}}>
                            <div class="form-selectgroup-label d-flex align-items-center p-3">
                                <div class="me-3">
                                    <span class="form-selectgroup-check"></span>
                                </div>
                                <div class="form-selectgroup-label-content d-flex align-items-start flex-column">
                                    <div class="font-weight-medium">{{project.name}}</div>
                                    {{#if (eq project.status 'active')}}
                                    <div class="text-secondary">Project is active (accessible to customers)</div>
                                    {{else if (eq project.status 'inactive')}}
                                    <div class="text-secondary">Project is inactive (not accessible to customers) </div>
                                    {{/if}}
                                </div>
                            </div>
                        </label>
                        {{/each}}
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Role</label>
                    {{#if (neq data.user.email data.userEmail)}}
                    <div class="form-selectgroup-boxes row mb-3 role">
                        <div class="">
                            <label class="form-selectgroup-item">
                                <input type="radio" name="report-type" value="viewer" class="form-selectgroup-input"
                                    {{#if (eq data.user.role 'viewer' )}} checked="" {{/if}} />
                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                                    <span class="me-3">
                                        <span class="form-selectgroup-check"></span>
                                    </span>
                                    <span class="form-selectgroup-label-content">
                                        <span class="form-selectgroup-title strong mb-1">Viewer</span>
                                        <span class="d-block text-secondary">Can view pages only. Doesn't have edit
                                            access to any thing.</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="">
                            <label class="form-selectgroup-item">
                                <input type="radio" name="report-type" value="editor" class="form-selectgroup-input"
                                    {{#if (eq data.user.role 'editor' )}} checked="" {{/if}} />
                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                                    <span class="me-3">
                                        <span class="form-selectgroup-check"></span>
                                    </span>
                                    <span class="form-selectgroup-label-content">
                                        <span class="form-selectgroup-title strong mb-1">Editor</span>
                                        <span class="d-block text-secondary">Can create, edit, update, bulk upload and
                                            delete entries of a project.</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="">
                            <label class="form-selectgroup-item">
                                <input type="radio" name="report-type" value="admin" class="form-selectgroup-input"
                                    {{#if (eq data.user.role 'admin' )}} checked="" {{/if}} />
                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                                    <span class="me-3">
                                        <span class="form-selectgroup-check"></span>
                                    </span>
                                    <span class="form-selectgroup-label-content">
                                        <span class="form-selectgroup-title strong mb-1">Admin</span>
                                        <span class="d-block text-secondary">Can create projects, customers,
                                            administrators and has full access.</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    {{else}}
                    <div class="text-secondary mb-2">Your role is {{capitalizeFirstLetter data.user.role}}. Roles can
                        only be changed by another administrator with admin level access.</div>
                    <div class="form-selectgroup-boxes row mb-3 role d-none">
                        <div class="">
                            <label class="form-selectgroup-item">
                                <input type="radio" name="report-type" value="viewer" class="form-selectgroup-input"
                                    {{#if (eq data.user.role 'viewer' )}} checked="" {{/if}} disabled />
                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                                    <span class="me-3">
                                        <span class="form-selectgroup-check"></span>
                                    </span>
                                    <span class="form-selectgroup-label-content">
                                        <span class="form-selectgroup-title strong mb-1">Viewer</span>
                                        <span class="d-block text-secondary">Can view pages only. Doesn't have edit
                                            access to any thing.</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="">
                            <label class="form-selectgroup-item">
                                <input type="radio" name="report-type" value="editor" class="form-selectgroup-input"
                                    {{#if (eq data.user.role 'editor' )}} checked="" {{/if}} disabled />
                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                                    <span class="me-3">
                                        <span class="form-selectgroup-check"></span>
                                    </span>
                                    <span class="form-selectgroup-label-content">
                                        <span class="form-selectgroup-title strong mb-1">Editor</span>
                                        <span class="d-block text-secondary">Can create, edit, update, bulk upload and
                                            delete entries of a project.</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="">
                            <label class="form-selectgroup-item">
                                <input type="radio" name="report-type" value="admin" class="form-selectgroup-input"
                                    {{#if (eq data.user.role 'admin' )}} checked="" {{/if}} disabled />
                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                                    <span class="me-3">
                                        <span class="form-selectgroup-check"></span>
                                    </span>
                                    <span class="form-selectgroup-label-content">
                                        <span class="form-selectgroup-title strong mb-1">Admin</span>
                                        <span class="d-block text-secondary">Can create projects, customers,
                                            administrators and has full access.</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <a href="#" class="btn btn-primary ms-auto" user-id="{{data.user._id}}" onclick="updateUser(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-upload">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                        <path d="M7 9l5 -5l5 5" />
                        <path d="M12 4l0 12" />
                    </svg>
                    Update user
                </a>
            </div>
        </div>
    </div>
</div>

<button href="#" class="btn btn-primary d-none" id="button-{{data.user._id}}" data-bs-toggle="modal"
    data-bs-target="#modal-{{data.user._id}}"></button>