<div class="card mb-3">

  <div class="card-header flex-column align-items-start">
    <h3 class="card-title">Specific Payments</h3>
    <div class="text-secondary">Payments that are linked to specific beneficiaries in our projects.</div>
  </div>
  {{#if data.orders}}
  <div class="">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Order #</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.orders}}
        <tr class="card-hover" onclick="window.location.href='/order/{{this._id}}'" style="cursor: pointer;">
          <td>
            <span class="text-blue">{{this.orderNo}}</span>
            {{#if this.monthlySubscription}} <i class="ti ti-refresh ms-1 fs-5"></i> {{/if}}
          </td>
          <td>{{formatDate this.createdAt}}</td>
          <td>
            {{#if this.monthlySubscription}}
              {{#each this.stripeInfo}}
                {{{getOrderIcon 'stripe'}}}
                <span class="me-2">{{divide this.price 100}} {{capitalizeAll this.currency}} in {{getMonth this.currentPeriodStart}}</span> <br>
              {{/each}}
              {{#each this.vippsInfo}}
                {{{getOrderIcon 'vipps_smiley'}}}
                <span class="me-2">{{divide this.amount 100}} {{this.currency}} in {{getMonth this.due}}</span> <br>
              {{/each}}
                <i class="ti ti-equal" style=" margin-right: 12px; margin-left: 6px; "></i> {{this.totalCost}} {{this.currency}}
            {{else}}

                {{#each this.projects}}

                  {{#if ../this.stripeInfo}} {{{getOrderIcon 'stripe'}}} {{/if}}
                  {{#if ../this.vippsInfo}} {{{getOrderIcon 'vipps_smiley'}}} {{/if}}
                  {{#unless (hasAny ../this.stripeInfo ../this.vippsInfo)}} {{{getOrderIcon 'phone'}}} {{/unless}}

                  <span class="me-2">
                    {{this.totalCostSingleMonth}} {{../this.currency}}
                    <i class="ti ti-x fs-5"></i>
                    {{this.months}} Month(s)
                  </span> <br>
                {{/each}}

                <i class="ti ti-equal" style=" margin-right: 12px; margin-left: 6px; "></i> {{this.totalCost}} {{this.currency}}

            {{/if}}
          </td>
          <td>
            <span>{{{getOrderIcon this.status}}} </span>
            <span class="ms-1">{{capitalizeFirstLetter this.status}}</span>
          </td>
        </tr>
        </a>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{>showCustomerSubscriptions}}
  {{else}}
  <div class="card-body">
    <div class="text-center py-4">No payments found</div>
  </div>
  {{/if}}
</div>