 {{#with data.entry as |entry|}}
  <div class="col-12 col-md-6 mb-auto" id="entry-container">
      <div class="d-block card mb-3 data-row">
        <div class="card-header d-flex justify-content-between">
        <h3 class="card-title"><span class="badge bg-blue-lt">{{lookup entry (findPrimaryKey ../data.fields)}}</span></h3>
        <div class="d-flex">
          <a href="#" class="btn btn-primary me-2 btn-icon" data-bs-toggle="modal" data-bs-target="#modal-{{entry._id}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pencil-plus"> <path stroke="none" d="M0 0h24v24H0z" fill="none" /> <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /> <path d="M13.5 6.5l4 4" /> <path d="M16 19h6" /> <path d="M19 16v6" /> </svg>
          </a>
          <button class="btn text-danger btn-icon" entry-id="{{entry._id}}" onclick="deleteEntry(this)">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash-x m-0"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7h16" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /><path d="M10 12l4 4m0 -4l-4 4" /></svg>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="datagrid">
          
          {{#each ../data.fields}}
            <div class="datagrid-item">
              <div class="datagrid-title">{{this.actualName}}</div>
              <div class="datagrid-content">

                {{#if (eq this.type "boolean")}}
                  {{#if (eq this.options.0.value (lookup entry this.name))}}
                    <span class="status status-green">{{lookup entry this.name}}</span>
                  {{else}}
                    <span class="status status-red"> {{lookup entry this.name}}</span>
                  {{/if}}

                {{else if (eq this.type "dropdown")}}
                  {{lookup entry this.name}}

                {{else if (eq this.type "date")}}
                  {{formatDate (lookup entry this.name)}}

                {{else if (eq this.type "image")}}
                  {{#if (lookup entry this.name)}}
                    <img src="{{resizeCloudinaryUrl (lookup entry this.name) 't_w-250'}}" alt="{{this.name}}" class="img-thumbnail" style="max-width: 150px;">
                  {{else}}
                    <span>No image available</span>
                  {{/if}}

                {{else if (eq this.type "file")}}
                  {{#if (lookup entry this.name)}}
                    <a href="{{lookup entry this.name}}" target="_blank">Download File</a>
                  {{else}}
                    <span>No file uploaded</span>
                  {{/if}}

                {{else}}
                  {{lookup entry this.name}}
                {{/if}}

              </div>
            </div>
          {{/each}}

        </div>
      </div>

    </div>
  </div>
 {{/with}}
