<div class="card mb-0" id="stripe-payments-container">
  <div class="card-header flex-column align-items-start">
    <h3 class="card-title">General Payments</h3>
    <div class="text-secondary">Payments made through website that are not linked to any beneficiary.</div>
  </div>
  {{#if data.subscriptions}}
  <div class="table-responsive" style="overflow-y: hidden;">
    <table class="table table-striped text-nowrap">
      <thead>
        <tr>
          <th>Order #</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Project</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.subscriptions}}
        <tr class="card-hover" onclick="window.location.href='/order/{{this._id}}'" style="cursor: pointer;">
          <td>
            {{#if (hasAny this.stripeInfo this.vippsInfo)}}
              <a href="/order/{{this._id}}">{{this.orderNo}}</a>
            {{else}}
             <a href="/order/{{this._id}}">{{this.orderNo}}</a> 
            {{/if}}
            {{#if this.monthlySubscription}}
            <i class="ti ti-refresh ms-1"></i>
            {{/if}}
          </td>
          <td>{{formatDate this.createdAt}}</td>
          <td class="pe-6 pe-md-0">
            {{#if this.monthlySubscription}}
              {{#each this.stripeInfo}}
                {{{getOrderIcon 'stripe'}}}
                <span class="me-2">{{divide this.price 100}} {{capitalizeAll this.currency}} in {{getMonth this.currentPeriodStart}}</span> <br>
              {{/each}}
              {{#each this.vippsInfo}}
                {{{getOrderIcon 'vipps_smiley'}}}
                <span class="me-2">{{divide this.amount 100}} {{this.currency}} in {{getMonth this.due}}</span> <br>
              {{/each}}
                <i class="ti ti-equal" style=" margin-right: 12px; margin-left: 6px; "></i> {{this.totalAllTime}} {{this.currency}}
            {{else}}
              {{#if this.stripeInfo}} {{{getOrderIcon 'stripe'}}} {{/if}}
              {{#if this.vippsInfo}} {{{getOrderIcon 'vipps_smiley'}}} {{/if}}
              {{this.total}} {{this.currency}}
            {{/if}}
          </td>
          <td>
            <span class="badge bg-red-lt">{{slugToString this.projectSlug}}</span>
          </td>
          <td style="padding-right: 4rem;">
            <span>{{{getOrderIcon this.status}}} </span>
            <span class="ms-1">{{capitalizeFirstLetter this.status}}</span>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <div class="card-body">
    <div class="text-center py-4">No payments found</div>
  </div>
  {{/if}}
</div>