<div class="card mb-3 d-print-none">
  <div class="card-header d-flex justify-content-between">
    <h3 class="card-title">Payments</h3>
    {{#if data.payments}}
    <button class="btn btn-primary d-none d-md-inline-block" onclick="getSendUpdateModal(this)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-bolt">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11" />
      </svg>
      Send Update
    </button>
    <button href="#" class="btn btn-primary d-md-none btn-icon" onclick="getSendUpdateModal(this)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-bolt">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11" />
      </svg>
    </button>
    {{/if}}
  </div>
  {{#if data.payments}}
  <div style="overflow-x: auto;">
    <table class="table table-striped mb-0" style="white-space: nowrap; width: 100%;">
      <thead>
        <tr>
          <th>Invoice #</th>
          <th>Date</th>
          <th>Donor</th>
          <th>Amount</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.payments}}
        <tr>
          <td>
            {{#if (findInArray ../data.role 'viewOrders')}}
            <a href="/order/{{_id}}">{{orderNo}}</a>
            {{else}}
            {{orderNo}}
            {{/if}}
            {{#if monthlySubscription}} <i class="ti ti-refresh ms-1"></i> {{/if}}
          </td>
          <td>{{formatDate createdAt}}</td>
          <td>
            {{#if (findInArray ../data.role 'viewOrders')}}
            <a href='/customer/{{customer._id}}'>{{customer.name}}</a>
            {{else}}
            {{customer.name}}
            {{/if}}
          </td>
          <td>
            {{#each entry.costs}}
            {{#if totalOrderedCost}}
            {{totalOrderedCost}} {{../currency}} / Month<br>
            {{/if}}
            {{/each}}
          </td>
          <td>
            {{#if monthlySubscription}}
            Renews on {{expiresOn createdAt 1}}
            {{else}}
            Expires on {{expiresOn createdAt project.months}}
            {{/if}}
          </td>
          <td>
            {{#if (eq status 'paid')}}
            {{{getOrderIcon status}}}
            {{capitalizeFirstLetter status}}
            {{else}}
            {{capitalizeFirstLetter status}}
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <div class="card-body">
    <div class="text-center py-4">No payments found</div>
  </div>
  {{/if}}

</div>