<div class="card mb-3 d-print-none">
  <div class="card-header d-flex justify-content-between">
    <h3 class="card-title">Payments</h3>
  </div>
  {{#if data.payments}}
  <div style="overflow-x: auto;">
    <table class="table table-striped mb-0" style="white-space: nowrap; width: 100%;">
      <thead>
        <tr>
          <th>Invoice #</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Monthly Subscription</th>
          <th>Description</th>
          <th>Status</th>
          <th>Customer</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.payments}}
        <tr>
          <td>{{orderNo}}</a></td>
          <td>{{formatDate createdAt}}</td>
          <td>
            {{#each entry.costs}}
            {{#if totalOrderedCost}}
            {{totalOrderedCost}} {{../currency}} in {{camelCaseToNormalString fieldName}} <br>
            {{/if}}
            {{/each}}
          </td>
          <td>
            {{#if monthlySubscription}}
            Renews on {{expiresOn createdAt 1}}
            {{else}}
            Expires on {{expiresOn createdAt project.months}}
            {{/if}}
          </td>
          <td>
            {{#if (eq status 'paid')}}
            {{{getOrderIcon status}}}
            {{capitalizeFirstLetter status}}
            {{else}}
            {{capitalizeFirstLetter status}}
            {{/if}}
          </td>
          <td>{{customer.name}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <div class="card-body">
    <div class="text-center py-4">No payments found</div>
  </div>
  {{/if}}

</div>