 <div class="row row-deck row-cards">

  {{#with data.customer as |customer|}}
  <div class="col-12 col-md-6">

    <div class="card mb-3 data-row">
      <div class="card-header">
        <h3 class="card-title"><span class="badge bg-blue-lt">{{customer.email}}</span></h3>
      </div>
      <div class="card-body">
        <div class="datagrid">

            <div class="datagrid-item">
              <div class="datagrid-title">Name</div>
              <div class="datagrid-content">
                <span>{{customer.name}}</span>
              </div>
            </div>

            <div class="datagrid-item">
              <div class="datagrid-title">Email</div>
              <div class="datagrid-content">
                <span>{{customer.email}}</span>
              </div>
            </div>

            <div class="datagrid-item">
              <div class="datagrid-title">Organization</div>
              <div class="datagrid-content">
                <span>{{customer.organization}}</span>
              </div>
            </div>

            <div class="datagrid-item">
              <div class="datagrid-title">Location</div>
              <div class="datagrid-content">
                <span>{{customer.location}}</span>
              </div>
            </div>

            <div class="datagrid-item">
              <div class="datagrid-title">Status</div>
              <div class="datagrid-content">
                <span>{{capitalizeFirstLetter customer.status}}</span>
              </div>
            </div>

            <div class="datagrid-item">
              <div class="datagrid-title">Email Status</div>
              <div class="datagrid-content">
                <span>{{customer.emailStatus}}</span>
              </div>
            </div>

            <div class="datagrid-item">
              <div class="datagrid-title">Projects</div>
              <div class="datagrid-content">
                {{#each customer.projects}}
                <a href="/project/{{this.slug}}" class="badge bg-red-lt mb-1">{{this.name}}</a> 
                {{/each}}
              </div>
            </div>

            <div class="datagrid-item">
              <div class="datagrid-title">Subscriptions</div>
              <div class="datagrid-content">
                {{#if customer.subscriptions}}
                <span>{{customer.subscriptions.length}}</span>
                {{else}}
                <span>0</span>
                {{/if}}
              </div>
            </div>

        </div>
      </div>
      <div class="card-body">
          <button class="btn text-blue cursor-pointer" customer-id="{{customer._id}}" onclick="getEditCustomerModal(this)">Edit</button>
      </div>
    </div>

  </div>
  {{/with}}
  <div class="d-block col-12 col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Updates</h3>
      </div>
      <div class="card-body">
        {{#if data.customerLogs}}
        <ul class="steps steps-vertical">
          {{#each data.customerLogs as |log|}}
          <li class="step-item">
            <div class="badge bg-blue-lt mb-1">{{formatTime log.timestamp}}</div>
            <div class="m-0">{{log.action}} by <a href="/user/{{log.actor._id}}">{{log.actor.name}}</a></div>
            {{#if log.details}}
            <div class="text-secondary">{{{log.details}}}</div>
            {{/if}}
          </li>
          {{/each}}
        </ul>
        {{else}}
        <div class="text-center"><p>No logs stored for this entity!</p></div>
        {{/if}}
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header">
        <h3 class="card-title">Payments</h3>
      </div>
      <div class="card-body">
        <div class="text-center py-4">No payments found</div>
      </div>
    </div>
  </div>

 </div>
