<div class="card-header d-flex justify-content-between">
    <h3 class="card-title">Linked Documents</h3>
    <a href="#" class="btn btn-primary" onclick="uploadNewFile(this)">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 5l0 14" />
            <path d="M5 12l14 0" />
        </svg>
        <span class="d-none d-md-inline-block">Upload New Document</span>
    </a>
</div>
{{#if data.files}}
<div style="overflow-x: auto;">
    <table class="table table-hover mb-0" style="white-space: nowrap; width: 100%;">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Category</th>
                <th>Visibility</th>
                <th>Size</th>
                <th>Upload Date</th>
                <th>Uploaded By</th>
            </tr>
        </thead>
        <tbody>
            {{#each data.files}}
            <tr file-id="{{this._id}}" onclick="getFileModal(this)" style="cursor: pointer;">
                <td>{{this.name}}</td>
                <td>
                    <span class="badge">{{camelCaseToNormalString this.category}}</span>
                </td>
                <td>
                    {{#each this.access}}
                    <span class="badge badge-primary-lt">{{capitalizeFirstLetter this}}</span>
                    {{/each}}
                </td>
                <td>{{this.size}} Kb</td>
                <td>{{formatDate this.createdAt}}</td>
                <td>
                    {{#if (eq this.uploadedBy.actorType 'user')}}
                    {{#if (eq this.actorRole 'admin')}}
                    <span class="badge bg-green-lt">
                        {{this.actorName}}
                    </span>
                    {{else}}
                    <span class="badge bg-blue-lt">
                        {{this.actorName}}
                    </span>
                    {{/if}}
                    {{else if (eq this.uploadedBy.actorType 'benificiary')}}
                    <span class="badge bg-orange-lt">
                        Beneficiary
                    </span>
                    {{else}}
                    <span class="badge bg-red-lt">
                        {{this.actorName}}
                    </span>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{else}}
<div class="card-body">
    <div class="text-center py-4">No files found</div>
</div>
{{/if}}