<div class="card mb-3">
  <div class="card-header d-flex justify-content-between">
    <h3 class="card-title">Payments</h3>
  </div>
  {{#if data.payments}}
  <table class="table table-striped mb-0">
    <thead>
      <tr>
        <th>Invoice #</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Expires</th>
        <th>Status</th>
        <th>Customer</th>
      </tr>
    </thead>
    <tbody>
      {{#each data.payments}}
      <tr>
        <td><a href="/order/{{_id}}">{{orderNo}}</a></td>
        <td>{{formatDate createdAt}}</td>
        <td>
          {{#each entry.costs}}
          {{#if totalOrderedCost}}
          {{totalOrderedCost}} {{../currency}} in {{camelCaseToNormalString fieldName}} <br>
          {{/if}}
          {{/each}}
        </td>
        <td>After {{project.months}} month(s) on {{expiresOn createdAt project.months}}</td>
        <td>
          {{#if (eq status 'paid')}}
          {{{getOrderIcon status}}}
          {{capitalizeFirstLetter status}}
          {{else}}
          {{capitalizeFirstLetter status}}
          {{/if}}
        </td>
        <td><a href='/customer/{{customer._id}}'>{{customer.name}}</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <div class="card-body">
    <div class="text-center py-4">No payments found</div>
  </div>
  {{/if}}

</div>