{{#with data.customer as |customer|}}
<div id="customer-container">

  <div class="card mb-3 data-row">
    <div class="card-header">
      <h3 class="card-title">Customer Information</h3>
    </div>
    <div class="card-body">
      <div class="datagrid">

        <div class="datagrid-item">
          <div class="datagrid-title">Name</div>
          <div class="datagrid-content">
            <span>{{customer.name}}</span>
          </div>
        </div>

        <div class="datagrid-item">
          <div class="datagrid-title">Phone</div>
          <div class="datagrid-content">
            <span>{{customer.tel}}</span>
          </div>
        </div>

        <div class="datagrid-item">
          <div class="datagrid-title">Email</div>
          <div class="datagrid-content">
            <span>{{customer.email}}</span>
          </div>
        </div>

        {{#if customer.organization}}
        <div class="datagrid-item">
          <div class="datagrid-title">Organization</div>
          <div class="datagrid-content">
            <span>{{customer.organization}}</span>
          </div>
        </div>
        {{/if}}

        <div class="datagrid-item">
          <div class="datagrid-title">Address</div>
          <div class="datagrid-content">
            <span>{{or customer.address customer.location}}</span>
          </div>
        </div>

        <div class="datagrid-item">
          <div class="datagrid-title">Status</div>
          <div class="datagrid-content">
            <span>{{capitalizeFirstLetter customer.status}}</span>
          </div>
        </div>

        <div class="datagrid-item">
          <div class="datagrid-title">Access</div>
          <div class="datagrid-content">
            <span>{{capitalizeFirstLetter customer.role}} portal</span>
          </div>
        </div>

        <div class="datagrid-item">
          <div class="datagrid-title">Email Status</div>
          <div class="datagrid-content">
            <span>{{customer.emailStatus}}</span>
          </div>
        </div>

      </div>
    </div>
    <div class="card-body">
      <button class="btn text-blue cursor-pointer" data-bs-toggle="modal"
        data-bs-target="#modal-{{customer._id}}">Edit</button>
    </div>
  </div>

</div>
{{/with}}