<div class="card mb-3 d-print-none">
  <div class="card-header d-flex justify-content-between">
    <h3 class="card-title">Payments</h3>
    {{#if data.payments}}
    <button class="btn btn-primary d-none d-md-inline-block" onclick="getSendUpdateModal(this)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-bolt">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11" />
      </svg>
      Send Update
    </button>
    <button href="#" class="btn btn-primary d-md-none btn-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-bolt">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11" />
      </svg>
    </button>
    {{/if}}
  </div>
  {{#if data.payments}}
  <div style="overflow-x: auto;">
    <table class="table table-striped mb-0" style="white-space: nowrap; width: 100%;">
      <thead>
        <tr>
          <th>Invoice #</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Expiry/ Renewel</th>
          <th>Status</th>
          <th>Customer</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.payments}}
        <tr>
          <td><a href="/order/{{_id}}">{{orderNo}}</a></td>
          <td>{{formatDate createdAt}}</td>
          <td>
            {{#each entry.costs}}
            {{#if totalOrderedCost}}
            {{totalOrderedCost}} {{../currency}} in {{camelCaseToNormalString fieldName}} <br>
            {{/if}}
            {{/each}}
          </td>
          {{#if (eq monthlySubscription 'false')}}
          <td>Expires after {{project.months}} month(s) on {{expiresOn createdAt project.months}}</td>
          {{else}}
          <td>Renews on {{expiresOn createdAt 1}}</td>
          {{/if}}
          <td>
            {{#if (eq status 'paid')}}
            {{{getOrderIcon status}}}
            {{capitalizeFirstLetter status}}
            {{else}}
            {{capitalizeFirstLetter status}}
            {{/if}}
          </td>
          <td><a href='/customer/{{customer._id}}'>{{customer.name}}</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <div class="card-body">
    <div class="text-center py-4">No payments found</div>
  </div>
  {{/if}}

</div>