<script src="https://pfau-software.de/json-viewer/dist/iife/index.js"></script>

<div class="page-header d-print-none" order-id="{{data.order._id}}">
  <div class="mt-3 mx-3">
    <div class="row g-2 align-items-center">
      <div class="col">
        <div class="page-pretitle"> Overview </div>
        <h2 class="page-title"> Order # {{data.order.orderNo}}
          <span class="ms-2 d-flex">
            {{{getOrderIcon data.order.status}}}
          </span>
        </h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          {{#if data.order.projects}}
          <a href="#" class="btn btn-primary d-none d-md-inline-block" id="#editOrder" data-bs-toggle="modal"
            data-bs-target="#modal-{{data.order._id}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-pencil-plus m-0">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
              <path d="M13.5 6.5l4 4"></path>
              <path d="M16 19h6"></path>
              <path d="M19 16v6"></path>
            </svg>
            Edit Order
          </a>
          <a href="#" class="btn btn-primary d-md-none btn-icon" data-bs-toggle="modal"
            data-bs-target="#modal-{{data.order._id}}" aria-label="modal-order-{{data.order._id}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-pencil-plus m-0">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
              <path d="M13.5 6.5l4 4"></path>
              <path d="M16 19h6"></path>
              <path d="M19 16v6"></path>
            </svg>
          </a>
          {{/if}}
          <button class="btn btn-primary d-none d-md-inline-block" onclick="getSendUpdateModal(this)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-bolt">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11" />
            </svg>
            Send Update
          </button>
          <button href="#" class="btn btn-primary d-md-none btn-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-bolt">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11" />
            </svg>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="m-3 pt-4" id="data-container">
  {{> showOrderEntries}}
  <div class="row row-deck row-cards">
    <div class="col-12 col-md-6 mb-auto d-flex flex-column">
      {{> showOrder}}
      {{> showOrderInvoice}}
    </div>
    <div class="d-block col-12 col-md-6">
      {{#if (findInArray data.role 'viewFiles')}}
      <div class="card mb-3" id="files-container" entity-type="order" entity-id="{{data.order._id}}" entity-slug="none"
        entity-url="/order/{{data.order._id}}" 
        file-types="application/pdf,image/*,video/*"
        file-url="/uploadFileToOrder"
        video-url="/uploadVideoToOrder">
        {{> showEntityFiles}}
      </div>
      {{/if}}
      {{> showOrderLogs}}
    </div>
  </div>
</div>

{{#if data.order.customer}}
{{> emptyOrderModal}}
{{/if}}

<script src="/static/orders.js"></script>

<script>

  const refreshContainers = function (modal) {
    console.log('refreshing containers');
    const hrefLogs = `/getOrderLogs/{{data.order._id}}?page=1`;
    getOrderLogs(modal, hrefLogs);
    {{#if data.order.projects }}
    const hrefOrder = `/getOrderData/{{data.order._id}}`;
    loadOrderInContainer(modal, hrefOrder);
    const hrefProjects = `/getOrderProjects/{{data.order._id}}`;
    loadOrderProjects(hrefProjects);
    {{/if}}
  }

  const loadOrderInContainer = function (elem, href) {
    if (!href) {
      href = $(elem).attr("my-href");
    }
    $.ajax({
      url: href,
      method: 'GET',
      success: function (response) {
        $(`#order-container`).replaceWith(response);
      },
      error: function (error) {
        alert(error.responseText);
      }
    });
  }

  const loadOrderProjects = function (href) {
    if (!href) {
      return alert('no href provided');
    }
    $.ajax({
      url: href,
      method: 'GET',
      success: function (response) {
        $('#projects-container').replaceWith(response);
      },
      error: function (error) {
        alert(error.responseText);
      }
    });
  }

  const loadEntriesInProjectCard = function (elem, href) {
    console.log(elem, href);
    if (!href) {
      href = $(elem).attr("my-href");
    }
    const projectCard = $(elem).closest('.project-in-order-page');
    const slug = $(elem).closest('.project-in-order-page').attr('project-slug');
    const orderId = $(elem).closest('.project-in-order-page').attr('order-id');
    const customerId = $(elem).closest('.project-in-order-page').attr('customer-id');
    const toggleState = $(elem).closest('.project-body').hasClass('d-none') ? 'open' : 'close';
    const url = `/getPaginatedEntriesForOrderPage/${slug}/${customerId}${href}&orderId=${orderId}&toggleState=${toggleState}`;
    $.ajax({
      url,
      method: 'GET',
      success: function (response) {
        $(projectCard).replaceWith(response);
        initializePopovers();
      },
      error: function (error) {
        alert(error.responseText);
      }
    });
  }

  const getOrderLogs = function (elem, href) {
    href = href || $(elem).attr("my-href");
    $.ajax({
      url: href,
      method: 'GET',
      success: function (response) {
        $('#logs-container').replaceWith(response);
      },
      error: function (error) {
        $('#logs-container').html(error.responseText);
      }
    })
  }

  const getEditOrderModal = function (elem) {
    const orderId = $(elem).attr("order-id");

    const modalExists = $(document).find(`#button-${orderId}`).length > 0;

    if (modalExists) {
      return $(`#button-${orderId}`).trigger("click");
    }

    $.ajax({
      url: `/getEditOrderModal/${orderId}`,
      type: 'GET',
      contentType: 'application/json',
      success: function (response) {
        $("footer").before(response);
        $(`#button-${orderId}`).trigger("click");
        initializePopovers();
      },
      error: function (xhr, status, error) {
        alert(xhr.responseText);
      }
    });
  }

  const toggleProject = function (elem) {
    const projectCard = $(elem).closest('.project-in-order-page');
    const projectBody = $(projectCard).find('.project-body');
    $(projectBody).toggleClass('d-none');
  }

  const getEditDocModal = function (elem) {
    const orderId = $(elem).attr("order-id");
    const modalExists = $(document).find(`#button-file-upload-${orderId}`).length > 0;

    if (modalExists) {
      $(`#button-file-upload-${orderId}`).remove();
      $(`#modal-file-upload-${orderId}`).remove();
    }

    $.ajax({
      url: `/getFileUploadModal/${orderId}/order`,
      type: 'GET',
      contentType: 'application/json',
      success: function (response) {
        $("footer").before(response);
        $(`#button-file-upload-${orderId}`).trigger("click");
      },
      error: function (xhr, status, error) {
        alert(xhr.responseText);
      }
    });
  }

  const getSendUpdateModal = function (elem) {
    const orderId = $('.page-header').attr('order-id');

    if (!orderId) {
      return alert('No order ID found');
    }

    const modalExists = $(document).find(`#button-update-${orderId}`).length > 0;

    if (modalExists) {
      $(`#button-${orderId}`).remove();
      $(`#modal-update-${orderId}`).remove(); 
    }

    $.ajax({
      url: `/getSendUpdateModal-order/${orderId}`,
      type: 'GET',
      contentType: 'application/json',
      success: function (response) {
        $("footer").before(response);
        $(`#button-update-${orderId}`).trigger("click");
        initializePopovers();
      },
      error: function (xhr, status, error) {
        alert(xhr.responseText);
      }
    });
  }


</script>