{{#if data.entries}}

<div class="card mb-3 project-in-order" id="{{data.project.slug}}" orderId="{{data.orderId}}"
    toggleState="{{data.toggleState}}"
    my-href="?months={{data.months}}&page={{data.pagination.currentPage}}&limit={{data.pagination.limit}}&search={{data.pagination.search}}&sortBy={{data.pagination.sort.sortBy}}&orderBy={{data.pagination.sort.order}}{{#if data.pagination.filtersQuery}}&{{data.pagination.filtersQuery}}{{/if}}">
    <div class="card-header flex-wrap border-0">
        <div class="card-title w-100 d-flex">
            <div class="page-pretitle mb-2">{{data.select}} x {{data.project.name}}</div>
            <div class="ms-auto no-wrap">
                <button class="btn btn-icon btn-sm btn-pill border-0 shadow-none p-0"
                    onclick="toggleSearchResults(this)" style=" margin-top: -13px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-caret-up-down">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 10l-6 -6l-6 6h12"></path>
                        <path d="M18 14l-6 6l-6 -6h12"></path>
                    </svg>
                </button>
                <button class="btn btn-icon btn-sm btn-pill shadow-none p-0" onclick="removeProject(this)"
                    style="position: absolute;top: -8px;right: -8px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 6l-12 12"></path>
                        <path d="M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="d-flex align-items-center flex-wrap">
            <span class="strong">{{data.project.totalOrderedCost}} {{data.project.subCostCurrency}}</span>
            <button class="btn btn-icon btn-sm  border-0 shadow-none disabled">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 5l0 14" />
                    <path d="M5 12l14 0" />
                </svg>
            </button>
            <button class="btn btn-icon btn-sm" {{#if (neq (dec data.months) 0)}} onclick="doSearch(this)"
                my-href="?months={{dec data.months}}&page={{data.pagination.currentPage}}&limit={{data.pagination.limit}}&search={{data.pagination.search}}&sortBy={{data.pagination.sort.sortBy}}&orderBy={{data.pagination.sort.order}}{{#if data.pagination.filtersQuery}}&{{data.pagination.filtersQuery}}{{/if}}"
                {{/if}}>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-minus">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 12l14 0" />
                </svg>
            </button>
            <span class="mx-2 strong">{{data.months}}</span>
            <button class="btn btn-icon btn-sm" onclick="doSearch(this)"
                my-href="?months={{inc data.months}}&page={{data.pagination.currentPage}}&limit={{data.pagination.limit}}&search={{data.pagination.search}}&sortBy={{data.pagination.sort.sortBy}}&orderBy={{data.pagination.sort.order}}{{#if data.pagination.filtersQuery}}&{{data.pagination.filtersQuery}}{{/if}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 5l0 14" />
                    <path d="M5 12l14 0" />
                </svg>
            </button>
            <button class="btn btn-icon btn-sm border-0 shadow-none disabled">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                </svg>
            </button>
            <span class="strong">Month(s)</span>
            <button class="btn btn-icon btn-sm  border-0 shadow-none disabled">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-equal">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 10h14" />
                    <path d="M5 14h14" />
                </svg>
            </button>
            <span class="strong">{{data.project.totalOrderedCostAllMonths}} {{data.project.subCostCurrency}}</span>
        </div>

    </div>
    <div class="{{#if (eq data.toggleState 'hide')}}d-none{{/if}} last-paid-entries border-top">
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                    <tr>
                        {{#if (neq data.project.totalCost 0)}}
                        <th>
                            <button
                                class="btn btn-sm btn-icon px-2 font-sm text-uppercase fs-6 strong {{#if (eq data.project.totalOrderedCost data.project.totalCost)}}bg-green-lt{{/if}} text-start"
                                onclick="toggleColumnSelect(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-check me-2 {{#if (neq data.project.totalOrderedCost data.project.totalCost)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 12l5 5l10 -10" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus me-2 {{#if (eq data.project.totalOrderedCost data.project.totalCost)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                </svg>
                                Total <br> {{data.project.totalCost}} {{data.project.subCostCurrency}}
                            </button>
                        </th>
                        {{/if}}
                        {{#each data.project.fields}}
                        {{#if (eq this.subscription true)}}
                        <th class="">
                            {{#if (neq this.totalCost 0)}}

                            <button subscriptionName="{{this.name}}"
                                class="btn btn-sm btn-icon px-2 font-sm text-uppercase fs-6 strong {{#if (eq this.totalCost this.totalOrderedCost)}}bg-green-lt{{/if}} text-start"
                                onclick="toggleColumnSelect(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-check me-2 {{#if (neq this.totalCost this.totalOrderedCost)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 12l5 5l10 -10" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus me-2 {{#if (eq this.totalCost this.totalOrderedCost)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                </svg>
                                {{this.actualName}} <br> {{this.totalCost}} {{../data.project.subCostCurrency}}
                            </button>
                            {{/if}}

                        </th>
                        {{/if}}
                        {{/each}}
                        {{#each data.project.fields}}
                        {{#if (eq this.subscription false)}}
                        {{#if (eq this.visible true)}}
                        <th class="">
                            {{this.actualName}}
                        </th>
                        {{/if}}
                        {{/if}}
                        {{/each}}
                        <th>Last paid</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data.entries as |entry|}}
                    <tr entry-id="{{entry._id}}">
                        {{#if (neq entry.totalCost 0)}}
                        <td>
                            <button
                                class="btn btn-icon btn-sm px-2 {{#if (eq entry.totalCost entry.totalOrderedCost)}}bg-green-lt{{/if}}"
                                onclick="toggleCostSelect(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-check me-2 {{#if (neq entry.totalCost entry.totalOrderedCost)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 12l5 5l10 -10" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus me-2 {{#if (eq entry.totalCost entry.totalOrderedCost)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                </svg>
                                {{entry.totalCost}} {{../data.project.subCostCurrency}}
                            </button>
                        </td>
                        {{/if}}
                        {{#each ../data.project.fields as |field|}}
                        {{#if (eq field.subscription true)}}
                        <td>
                            {{#if (lookup entry field.name)}}
                            <button subscriptionName="{{field.name}}"
                                class="btn btn-icon btn-sm px-2 {{#if (findInArray entry.selectedSubscriptions field.name)}}bg-green-lt{{/if}}"
                                onclick="toggleCostSelect(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-check me-2 {{#unless (findInArray entry.selectedSubscriptions field.name)}}d-none{{/unless}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 12l5 5l10 -10" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus me-2 {{#if (findInArray entry.selectedSubscriptions field.name)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                </svg>
                                {{lookup entry field.name}} {{../../data.project.subCostCurrency}}
                            </button>
                            {{/if}}
                        </td>
                        {{/if}}
                        {{/each}}

                        {{#each ../data.project.fields as |field|}}
                        {{#if (eq field.subscription false)}}
                        {{#if (eq field.visible true)}}
                        <td>
                            {{#if (eq field.type 'date')}}
                            {{formatDate (lookup entry field.name)}}
                            {{else}}
                            {{lookup entry field.name}}
                            {{/if}}
                        </td>
                        {{/if}}
                        {{/if}}
                        {{/each}}
                        <td>
                            {{#if entry.lastPaid}}
                            <span class="badge bg-green me-2"></span>
                            {{entry.lastPaid}}
                            {{else}}
                            <span class="badge bg-danger me-2"></span>
                            Never
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{> dataNavigationFooter}}
    </div>

</div>

{{else}}
<div class="card m-auto">
    <div class="card-header">
        <div class="strong">Found no matching results!</div>
    </div>
</div>
{{/if}}