{{#if data.entries}}

<div class="card">
    <div class="card-header">
        <div class="ms-auto no-wrap">
            <button class="btn" onclick="toggleSearchResults(this)">Show results</button>
            <button class="btn btn-icon" onclick="$('#search-results-payment-modal-entries').html('');">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M18 6l-12 12"></path>
                    <path d="M6 6l12 12"></path>
                </svg>
            </button>
        </div>
    </div>
    <div class="table-responsive" id="last-paid-entries">
        <table class="table card-table table-vcenter text-nowrap datatable">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-sm btn-icon px-2 font-sm text-uppercase fs-6 strong bg-green-lt"
                            onclick="toggleColumnSelect(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-check me-2">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M5 12l5 5l10 -10" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-plus me-2 d-none">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 5l0 14" />
                                <path d="M5 12l14 0" />
                            </svg>
                            Total
                        </button>
                    </th>
                    {{#each data.project.fields}}
                    {{#if (eq this.subscription true)}}
                    <th class="">
                        <button class="btn btn-sm btn-icon px-2 font-sm text-uppercase fs-6 strong bg-green-lt"
                            onclick="toggleColumnSelect(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-check me-2">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M5 12l5 5l10 -10" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-plus me-2 d-none">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 5l0 14" />
                                <path d="M5 12l14 0" />
                            </svg>
                            {{this.actualName}}
                        </button>
                    </th>
                    {{/if}}
                    {{/each}}
                    {{#each data.project.fields}}
                    {{#if (eq this.subscription false)}}
                    {{#if (eq this.visible true)}}
                    <th class="">
                        {{this.actualName}}
                    </th>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                    <th>Last paid</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.entries as |entry|}}
                <tr>
                    <td>
                        <button class="btn btn-icon btn-sm px-2 bg-green-lt" onclick="toggleCostSelect(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-check me-2">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M5 12l5 5l10 -10" />
                            </svg>  
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-plus me-2 d-none">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 5l0 14" />
                                <path d="M5 12l14 0" />
                            </svg>
                            {{entry.totalCost}} {{../data.project.subCostCurrency}}
                        </button>
                    </td>
                    {{#each ../data.project.fields as |field|}}
                    {{#if (eq field.subscription true)}}
                    <td>
                        {{#if (lookup entry field.name)}}
                        <button class="btn btn-icon btn-sm px-2 bg-green-lt" onclick="toggleCostSelect(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-check me-2">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M5 12l5 5l10 -10" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-plus me-2 d-none">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 5l0 14" />
                                <path d="M5 12l14 0" />
                            </svg>
                            {{lookup entry field.name}} {{../../data.project.subCostCurrency}}
                        </button>
                        {{/if}}
                    </td>
                    {{/if}}
                    {{/each}}

                    {{#each ../data.project.fields as |field|}}
                    {{#if (eq field.subscription false)}}
                    {{#if (eq field.visible true)}}
                    <td>
                        {{lookup entry field.name}}
                    </td>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                    <td>{{#if entry.lastPaid}}{{entry.lastPaid}}{{else}}<span
                            class="badge bg-danger me-2"></span>Never{{/if}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{else}}
<div class="card m-auto">
    <div class="card-header">
        <div class="strong">Founding no matching results!</div>
    </div>
</div>
{{/if}}