{{#if project.entries}}

<div class="card mb-3 project-in-order {{project.slug}}" orderId="{{order._id}}" projectSlug="{{project.slug}}"
    toggleState="{{project.toggleState}}"
    my-href="?months={{project.months}}&page={{project.pagination.currentPage}}&limit={{project.pagination.limit}}&search={{project.pagination.search}}&sortBy={{project.pagination.sort.sortBy}}&orderBy={{project.pagination.sort.order}}{{#if project.pagination.filtersQuery}}&{{project.pagination.filtersQuery}}{{/if}}">
    <div class="card-header flex-wrap border-0">
        <div class="card-title w-100 d-flex">
            <div class="page-pretitle mb-2">{{project.entriesCount}} x {{project.detail.name}}</div>
            <div class="ms-auto no-wrap">
                <button class="btn btn-icon btn-sm btn-pill border-0 shadow-none p-0"
                    onclick="toggleSearchResults(this)" style=" margin-top: -13px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-caret-up-down">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 10l-6 -6l-6 6h12"></path>
                        <path d="M18 14l-6 6l-6 -6h12"></path>
                    </svg>
                </button>
                <button class="btn btn-icon btn-sm btn-pill shadow-none p-0" onclick="removeProject(this)"
                    style="position: absolute;top: -8px;right: -8px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 6l-12 12"></path>
                        <path d="M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="d-flex align-items-center flex-wrap">
            <span class="strong">{{project.totalCostSingleMonth}} {{order.currency}}</span>
            <button class="btn btn-icon btn-sm  border-0 shadow-none disabled">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 5l0 14" />
                    <path d="M5 12l14 0" />
                </svg>
            </button>
            <button class="btn btn-icon btn-sm" {{#if (neq (dec project.months) 0)}} onclick="doSearch(this)"
                my-href="?months={{dec project.months}}&page={{project.pagination.currentPage}}&limit={{project.pagination.limit}}&search={{project.pagination.search}}&sortBy={{project.pagination.sort.sortBy}}&orderBy={{project.pagination.sort.order}}{{#if project.pagination.filtersQuery}}&{{project.pagination.filtersQuery}}{{/if}}"
                {{/if}}>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-minus">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 12l14 0" />
                </svg>
            </button>
            <span class="mx-2 strong">{{project.months}}</span>
            <button class="btn btn-icon btn-sm" onclick="doSearch(this)"
                my-href="?months={{inc project.months}}&page={{project.pagination.currentPage}}&limit={{project.pagination.limit}}&search={{project.pagination.search}}&sortBy={{project.pagination.sort.sortBy}}&orderBy={{project.pagination.sort.order}}{{#if project.pagination.filtersQuery}}&{{project.pagination.filtersQuery}}{{/if}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 5l0 14" />
                    <path d="M5 12l14 0" />
                </svg>
            </button>
            <button class="btn btn-icon btn-sm border-0 shadow-none disabled">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                </svg>
            </button>
            <span class="strong">Month(s)</span>
            <button class="btn btn-icon btn-sm  border-0 shadow-none disabled">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-equal">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 10h14" />
                    <path d="M5 14h14" />
                </svg>
            </button>
            <span class="strong">{{project.totalCostAllMonths}} {{order.currency}}</span>
        </div>
    </div>
    <div class="{{#if (eq project.toggleState 'hide')}}d-none{{/if}} last-paid-entries border-top">
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                    <tr>
                        <th>
                            <button
                                class="btn btn-sm btn-icon px-2 font-sm text-uppercase fs-6 strong {{#if (eq project.totalCostSingleMonth project.totalCost)}}bg-green-lt{{/if}} text-start"
                                onclick="toggleColumnSelect(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-check me-2 {{#if (neq project.totalCostSingleMonth project.totalCost)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 12l5 5l10 -10" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus me-2 {{#if (eq project.totalCostSingleMonth project.totalCost)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                </svg>
                                Total <br> {{project.totalCost}} {{order.currency}}
                            </button>
                        </th>
                        {{#each project.totalSubscriptionCosts}}
                        <th class="">
                            {{#if (neq this.totalCost 0)}}

                            <button subscriptionName="{{this.name}}"
                                class="btn btn-sm btn-icon px-2 font-sm text-uppercase fs-6 strong {{#if (eq this.totalCost this.totalOrderedCost)}}bg-green-lt{{/if}} text-start"
                                onclick="toggleColumnSelect(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-check me-2 {{#if (neq this.totalCost this.totalOrderedCost)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 12l5 5l10 -10" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus me-2 {{#if (eq this.totalCost this.totalOrderedCost)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                </svg>
                                {{this.actualName}} <br> {{this.totalCost}} {{../order.currency}}
                            </button>
                            {{/if}}

                        </th>
                        {{/each}}
                        <th>Last paid</th>
                        {{#each project.detail.fields}}
                        {{#if (eq this.subscription false)}}
                        {{#if (eq this.visible true)}}
                        <th class="">
                            {{this.actualName}}
                        </th>
                        {{/if}}
                        {{/if}}
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each project.entries as |entry|}}
                    <tr entry-id="{{entry.entryId}}">
                        <td>
                            <button
                                class="btn btn-icon btn-sm px-2 {{#if (eq entry.totalCost entry.totalCostAllSubscriptions)}}bg-green-lt{{/if}}"
                                onclick="toggleCostSelect(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-check me-2 {{#if (neq entry.totalCost entry.totalCostAllSubscriptions)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 12l5 5l10 -10" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus me-2 {{#if (eq entry.totalCost entry.totalCostAllSubscriptions)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                </svg>
                                {{entry.totalCostAllSubscriptions}} {{../order.currency}}
                            </button>
                        </td>
                        {{#each entry.costs as |cost|}}
                        <td>
                            {{#if (neq cost.totalCost 0)}}
                            <button subscriptionName="{{cost.fieldName}}"
                                class="btn btn-icon btn-sm px-2 {{#if (eq cost.totalCost cost.totalOrderedCost)}}bg-green-lt{{/if}}"
                                onclick="toggleCostSelect(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-check me-2 {{#if (neq cost.totalCost cost.totalOrderedCost)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 12l5 5l10 -10" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus me-2 {{#if (eq cost.totalCost cost.totalOrderedCost)}}d-none{{/if}}">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                </svg>
                                {{cost.totalCost}} {{../../order.currency}}
                            </button>
                            {{/if}}
                        </td>
                        {{/each}}

                        <td>
                            {{#if entry.lastPaid}}
                            <span class="badge bg-green me-2"></span>
                            {{formatTime entry.lastPaid}}
                            {{else}}
                            <span class="badge bg-danger me-2"></span>
                            Never
                            {{/if}}
                        </td>

                        {{#each ../project.detail.fields as |field|}}
                        {{#if (eq field.subscription false)}}
                        {{#if (eq field.visible true)}}
                        <td>
                            {{#if (eq field.type 'date')}}
                            {{formatDate (lookup entry.detail field.name)}}
                            {{else}}
                            {{lookup entry.detail field.name}}
                            {{/if}}
                        </td>
                        {{/if}}
                        {{/if}}
                        {{/each}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{> dataNavigationFooter data=project}}
    </div>
</div>

{{else}}
<div class="card m-auto error mb-3">
    <div class="card-header">
        <div class="strong">Found no matching results in Project: {{project.detail.name}}!</div>
    </div>
</div>
{{/if}}