<li class="step-item">
    <div class="d-flex align-items-center justify-content-between mb-1 overflow-hidden">
        <div class="d-flex align-items-center">
            <span class="badge">{{formatTime log.timestamp}}</span>
            <span class="badge bg-transparent fs-5">by</span>
            {{#if (and log.actorIsSelf (neq log.actor.role 'admin'))}}
            <span class="badge bg-blue-lt">
                <a href="/dashboard" style="color: inherit;">{{log.actor.name}}</a>
            </span>
            {{else if (eq log.viewer.role 'admin')}}
            {{#if (eq log.actorType 'customer')}}
            <span class="badge bg-red-lt">
                <a href="/{{log.actorType}}/{{log.actor._id}}" style="color: inherit;">{{log.actor.name}}</a>
            </span>
            {{else}}
            {{#if (eq log.actor.role 'admin')}}
            <span class="badge bg-green-lt">
                <a href="/{{log.actorType}}/{{log.actor._id}}" style="color: inherit;">{{log.actor.name}}</a>
            </span>
            {{else if (eq log.actorType 'beneficiary')}}
            <span class="badge bg-orange-lt">
                {{log.actor.phoneNumber}}
            </span>
            {{else}}
            <span class="badge bg-blue-lt">
                <a href="/{{log.actorType}}/{{log.actor._id}}" style="color: inherit;">{{log.actor.name}}</a>
            </span>
            {{/if}}
            {{/if}}
            {{else if (eq log.viewer.role 'editor')}}
            {{#if log.actorIsSelf}}
            <span class="badge bg-blue-lt">
                <a href="/{{log.actorType}}/{{log.actor._id}}" style="color: inherit;">{{log.actor.name}}</a>
            </span>
            {{else}}
            {{#if (eq log.actor.role 'admin')}}
            <span class="badge bg-green-lt">
                {{log.actor.name}}
            </span>
            {{else}}
            <span class="badge bg-blue-lt">
                {{log.actor.name}}
            </span>
            {{/if}}
            {{/if}}
            {{else if (eq log.actorType 'customer')}}
            <span class="badge bg-red-lt">
                <a href="/{{log.actorType}}/{{log.actor._id}}" style="color: inherit;">{{log.actor.name}}</a>
            </span>
            {{else if (eq log.actorType 'beneficiary')}}
            <span class="badge bg-black-lt">
                {{log.actor.phoneNumber}}
            </span>
            {{/if}}
        </div>
        <div class="flex-grow-1 mx-2">
            <hr class="my-2">
        </div>
        <div class="d-flex badge">
            {{#if (eq log.color 'red')}}
            <div class="status-dot bg-red d-block me-2"></div>
            {{/if}}
            {{#if (eq log.color 'blue')}}
            <div class="status-dot bg-blue d-block me-2"></div>
            {{/if}}
            {{#if (eq log.color 'green')}}
            <div class="status-dot bg-green d-block me-2"></div>
            {{/if}}
            {{#if (eq log.color 'grey')}}
            <div class="status-dot bg-grey d-block me-2"></div>
            {{/if}}
            {{#if (eq log.color 'orange')}}
            <div class="status-dot bg-orange d-block me-2"></div>
            {{/if}}
            {{#if (eq log.entityType 'user')}}
            Admin
            {{else}}
            {{#if (eq log.entityType 'order')}}
            Invoice
            {{else}}
            {{capitalizeFirstLetter log.entityType}}
            {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="">
        {{#if removeLinks}}
        {{#unless hideUpdates}}{{{removeLinks log.action}}}<br>{{/unless}}
        {{else}}
        {{#unless hideUpdates}}{{{log.action}}}<br>{{/unless}}
        {{/if}}
        {{#if log.changes}}
        {{#each log.changes}}
        {{#unless (eq @index 0)}}<br>{{/unless}}

        {{#if (eq this.key 'status')}}
        <span class="badge bg-red-lt mt-1">{{camelCaseToNormalString this.key}}</span>
        {{else}}
        <span class="badge bg-green-lt mt-1">{{camelCaseToNormalString this.key}}</span>
        {{/if}}

        {{#if this.oldValue}}
        <span class="text-decoration-line-through">{{{this.oldValue}}}</span>
        {{/if}}
        {{#if this.newValue}}
        <span>{{{this.newValue}}}</span>
        {{/if}}
        {{#if this.changes}}
        {{#each this.changes as |change|}}
        {{#if this.details}}
        <span class="badge bg-grey-lt">{{this.fieldName}}</span>
        <span class="text-strong">{{capitalizeFirstLetter this.action}}</span>
        {{else}}
        <span class="badge bg-grey-lt">{{camelCaseToNormalString this.key}}</span>
        <span class="text-decoration-line-through">{{this.oldValue}}</span>
        <span>{{this.newValue}}</span>
        {{/if}}
        {{/each}}
        {{/if}}
        {{/each}}
        {{/if}}
    </div>
</li>